<div class="container">
  <h2>Kategorie zdjęć</h2>
  <div class="row">
    <div class="col-auto">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="kwiaty" [(ngModel)]="categories.Kwiaty" (change)="filterImages()">
        <label class="form-check-label" for="kwiaty">Kwiaty</label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="zwierzeta" [(ngModel)]="categories.Zwierzeta" (change)="filterImages()">
        <label class="form-check-label" for="zwierzeta">Zwierzęta</label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="samochody" [(ngModel)]="categories.Samochody" (change)="filterImages()">
        <label class="form-check-label" for="samochody">Samochody</label>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div *ngIf="!anyCategorySelected()" class="col-12">
        <p class="text-center text-danger">Nie wybrano żadnej kategorii</p>
      </div>
      <div *ngFor="let image of filteredImages; let i = index" class="col-md-4 col-sm-6 col-xs-12 mb-4">
        <div class="image-container" (click)="openModal(image)">
          <img [src]="image.src" [alt]="image.alt" class="img-thumbnail w-100">
          <span class="h5">Pobrań: {{ image.downloads }}</span>
          <div class="image-details mt-2">
            <button (click)="downloadImage(image); $event.stopPropagation()" class="btn bg-success text-white">Pobierz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': isModalOpen}" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}" (click)="closeModal()">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedImage?.alt }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="selectedImage?.src" [alt]="selectedImage?.alt" class="img-fluid">
      </div>
    </div>
  </div>
</div>