.image-container {
    margin-bottom: 20px;
  }
  
  .img-thumbnail {
    width: 100%;
    height: auto;
  }
  
  .image-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }