<h2>Kategorie zdjęć</h2>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="kwiaty" [(ngModel)]="categories.Kwiaty" (change)="filterImages()">
  <label class="form-check-label" for="kwiaty">Kwiaty</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="zwierzeta" [(ngModel)]="categories.Zwierzeta" (change)="filterImages()">
  <label class="form-check-label" for="zwierzeta">Zwierzęta</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="samochody" [(ngModel)]="categories.Samochody" (change)="filterImages()">
  <label class="form-check-label" for="samochody">Samochody</label>
</div>

<div class="container">
  <div class="row">
    <div *ngIf="!anyCategorySelected()" class="col-12">
      <p class="text-center btn-danger">Nie wybrano żadnej kategorii</p>
    </div>
    <div *ngFor="let image of filteredImages; let i = index" class="col-md-4 col-sm-6 col-xs-12 mb-4">
      <div class="image-container">
        <img [src]="image.src" [alt]="image.alt" class="img-thumbnail w-100">
        <div class="image-details mt-2">
          <button (click)="downloadImage(image)" class="btn btn-primary">Pobierz</button>
          <span class="ml-2">Pobrań: {{ image.downloads }}</span>
        </div>
      </div>
    </div>
  </div>
</div>